@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">bienvenidos</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>.</p>
</div>
<ul style="list-style-type: disc;">
<li><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></li>
<li><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></li>
<li><span>hola q tal jajajajajaj</span></li>
</ul>
<p>😎aqui relajadoo</p>

<p><img alt="" src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Star_Wars_Logo.svg" /></p>
<p><img src="https://m.media-amazon.com/images/M/MV5BNzVlY2MwMjktM2E4OS00Y2Y3LWE3ZjctYzhkZGM3YzA1ZWM2XkEyXkFqcGdeQXVyNzkwMjQ5NzM@@._V1_UX182_CR0,0,182,268_AL_.jpg" width="182" height="268" alt="" /></p>

<h3>Custom UI</h3><p>im from honduras im 17 i live in danli&nbsp;</p><p><br data-cke-filler="true"></p><h2><u>never stop &nbsp;dreaming&nbsp;</u></h2><p><br data-cke-filler="true"></p>